.tablepress-id-20 .column-3,
.tablepress-id-21 .column-3,
.tablepress-id-22 .column-3,
.tablepress-id-23 .column-3,
.tablepress-id-24 .column-3,
.tablepress-id-25 .column-3,
.tablepress-id-50 .column-3 {
	width: 130px;
}

.tablepress-id-20 .column-2,
.tablepress-id-21 .column-2,
.tablepress-id-22 .column-2,
.tablepress-id-23 .column-2,
.tablepress-id-24 .column-2,
.tablepress-id-28 .column-2,
.tablepress-id-25 .column-2,
.tablepress-id-50 .column-2 {
	width: 380px;
}

.tablepress-id-20 .column-4,
.tablepress-id-21 .column-4,
.tablepress-id-22 .column-4,
.tablepress-id-23 .column-4,
.tablepress-id-24 .column-4,
.tablepress-id-25 .column-4,
.tablepress-id-50 .column-4 {
	width: 130px;
}

.tablepress-id-32 .column-3 {
	width: 230px;
}

.tablepress-id-35 .column-2 {
	width: 200px;
}

.tablepress-id-35 .column-6 {
	width: 230px;
}