<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#privacy-policy {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #DDD;
    padding: 15px;
    width:49%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

#privacy-policy{z-index:100;}
</style>
<!-- end Simple Custom CSS and JS -->
