<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.gform_wrapper form ul.gform_fields:not(.top_label) li.gfield_html_formatted {
    margin-left: 0 !important;
    width: 100%;
}

#privacy-policy{
  background-color: #2b2828 !important;
}


</style>
<!-- end Simple Custom CSS and JS -->
