<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.snc_company ul{
	width: 70%;
	left: 28.5% !important;
    margin-left: 0;
}

.sw-vertical-line ul li p {
    display: inline;
}
</style>
<!-- end Simple Custom CSS and JS -->
